In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import mpld3

In [4]:
df = pd.read_csv('C:/Users/Lenovo/Desktop/Datasets/sentiments.csv')

In [5]:
df

,Unnamed: 0,album,date,artist,rank,length,track_length,release_year,era,g1g2,...,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive
0,1,#7,1986-07-19,George Strait,127,10,162553.0,1986,0,1,...,1,7,1,3,7,6,3,8,7,16
1,2,#7,1986-08-30,George Strait,192,10,162553.0,1986,0,1,...,1,7,1,3,7,6,3,8,7,16
2,3,#7,1986-08-23,George Strait,164,10,162553.0,1986,0,1,...,1,7,1,3,7,6,3,8,7,16
3,4,#7,1986-08-09,George Strait,138,10,162553.0,1986,0,1,...,1,7,1,3,7,6,3,8,7,16
4,5,#7,1986-07-26,George Strait,126,10,162553.0,1986,0,1,...,1,7,1,3,7,6,3,8,7,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40820,40821,janet.,1995-01-14,Janet Jackson,86,28,286282.0,1993,1,0,...,2,7,3,2,6,4,3,7,10,11
40821,40822,janet.,1994-04-16,Janet Jackson,27,28,286282.0,1993,1,0,...,2,7,3,2,6,4,3,7,10,11
40822,40823,janet.,1993-10-23,Janet Jackson,6,28,286282.0,1993,1,0,...,2,7,3,2,6,4,3,7,10,11
40823,40824,janet.,1994-04-02,Janet Jackson,24,28,286282.0,1993,1,0,...,2,7,3,2,6,4,3,7,10,11
40824,40825,janet.,1995-05-13,Janet Jackson,183,28,286282.0,1993,1,1,...,2,7,3,2,6,4,3,7,10,11

In [6]:
df.columns

Index(['Unnamed: 0', 'album', 'date', 'artist', 'rank', 'length',
       'track_length', 'release_year', 'era', 'g1g2', 'egg', 'anger',
       'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise',
       'trust', 'negative', 'positive'],
      dtype='object')

In [7]:
df.describe()

,Unnamed: 0,rank,length,track_length,release_year,era,g1g2,egg,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive
count,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000,40825.000000
mean,20413.000000,96.582094,12.640833,256101.259668,1989.717624,0.535432,0.469957,0.262388,8.507067,10.188561,5.757648,10.039118,10.085462,9.765903,5.943662,10.664887,18.167446,18.272113
std,11785.306707,57.610547,4.926867,43312.381569,2.207451,0.498749,0.499103,0.439938,9.209121,7.253873,6.062061,10.266306,6.865250,9.178934,4.791315,8.356051,17.364847,13.837227
min,1.000000,1.000000,4.000000,117588.700000,1986.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10207.000000,47.000000,10.000000,227302.300000,1988.000000,0.000000,0.000000,0.000000,3.000000,5.000000,2.000000,3.000000,5.000000,4.000000,3.000000,5.000000,7.000000,8.000000
50%,20413.000000,94.000000,11.000000,255813.000000,1990.000000,1.000000,0.000000,0.000000,5.000000,8.000000,4.000000,7.000000,8.000000,8.000000,5.000000,9.000000,13.000000,14.000000
75%,30619.000000,146.000000,13.000000,283215.700000,1992.000000,1.000000,1.000000,1.000000,11.000000,14.000000,7.000000,12.000000,14.000000,12.000000,8.000000,14.000000,22.000000,24.000000
max,40825.000000,200.000000,49.000000,539246.375000,1993.000000,1.000000,1.000000,1.000000,61.000000,57.000000,40.000000,68.000000,52.000000,52.000000,34.000000,62.000000,137.000000,111.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40825 entries, 0 to 40824
Data columns (total 21 columns):
Unnamed: 0      40825 non-null int64
album           40825 non-null object
date            40825 non-null object
artist          40825 non-null object
rank            40825 non-null int64
length          40825 non-null int64
track_length    40825 non-null float64
release_year    40825 non-null int64
era             40825 non-null int64
g1g2            40825 non-null int64
egg             40825 non-null int64
anger           40825 non-null int64
anticipation    40825 non-null int64
disgust         40825 non-null int64
fear            40825 non-null int64
joy             40825 non-null int64
sadness         40825 non-null int64
surprise        40825 non-null int64
trust           40825 non-null int64
negative        40825 non-null int64
positive        40825 non-null int64
dtypes: float64(1), int64(17), object(3)
memory usage: 6.5+ MB

In [9]:
df.isNull()

AttributeError: 'DataFrame' object has no attribute 'isNull'